<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<script type="text/javascript" src="webjars/jquery/3.1.0/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<a th:href="@{/tambah}">Tambah Data</a>
	<table>
		<thead>
			<tr style="text-align:center">
				<th>Id</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="inventory :${data}">
				<td th:text="${inventory.id}"></td>
                <td th:text="${inventory.nama}"></td>
                <td th:text="${inventory.stock}"></td>
                <td>
                    <a th:href="@{delete/(id=${inventory.id})}">Delete</a>
                    <a th:href="@{findInventory/(id=${inventory.id})}">Edit</a>
                </td>
			</tr>
		</tbody>
	</table>
</body>
</html>